<div class="kt-subheader my-0-7-2">
    <div class="kt-container kt-cntr-plr-13">
        <div class="kt-subheader__main kt-sub-hd-p-0">
            <h3 class="kt-subheader__title">Freight Forwarding Home</h3>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-0-2">
        <div class="kt-portlet px-3 pt-2 pb-0">
            <div class="kt-portlet-body">
                <div class="kt-portlet-preview">
                    <form autocomplete="off">
                        <div class="form-row">
                            <div class="col-lg-1"></div>
                            <div class="form-row form-group">
                                <label class="col-lg-3 col-md-12 col-form-label lbl-mr-0 nowrap"
                                    for="text-input">Booking From Date<span class="error"></span></label>
                                <div class="col-lg-3 col-md-12">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput  [matDatepicker]="picker2" id="from_date"
                                            name="from_date" matTooltip="Select From Date" [(ngModel)]="data.from_date"
                                            (ngModelChange)="change()" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <label class="col-lg-3 col-md-12 col-form-label lbl-mr-0 nowrap"
                                    for="text-input">Booking To Date<span class="error"></span></label>
                                <div class="col-lg-3 col-md-12">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput  [matDatepicker]="picker1" id="to_date"
                                            name="to_date" matTooltip="Select To Date" [(ngModel)]="data.to_date"
                                            (ngModelChange)="change()" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="col-lg-1"></div> -->
                            <div class="col-lg-3 col-md-12 ss-crm-mat">
                                <button type="submit" (click)="search()" class="theme-btn btn-style-1 mr-1"
                                    matTooltip="Click here to search"><span><i
                                            class="fa fa-arrow-right"></i>Search</span></button>
                            </div>
                            <!-- </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-0-2">
        <div class="kt-portlet px-3 pt-2 pb-0">
            <div class="kt-portlet-body">
                <div class="kt-portlet-preview">
                    <form autocomplete="off"> -->
                            <!-- <div class="form-row"> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter" title={{draft_date_title}}>
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>DRAFT BL NOT GENERATED</h3>
                                            <a class="text-blue mt-1" (click)="show()"><i
                                                    class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{draft1_count}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter orange">
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>SOB NOT ENTERED</h3>
                                            <a class="text-blue mt-1" (click)="SOB()"><i
                                                    class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{SOB1_count}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter green">
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>CARGO RECEIVED DATE NOT ENTERED</h3>
                                            <a class="text-blue mt-1" (click)="cargo()"><i
                                                    class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{cargo1_count}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12"></div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter blue">
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>BL NOT ENTERED</h3>
                                            <a class="text-blue mt-1" (click)="BL()"><i
                                                class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{BL1_count}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter pink">
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>INVOICE not raised </h3>
                                            <a class="text-blue mt-1" (click)="invoice()"><i
                                                class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{invoice1_count}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter brown">
                                            <div class="counter-icon">
                                                <i class="fa fa-sticky-note-o"></i>
                                            </div>
                                            <h3>SALE CHARGE NOT ENTERED</h3>
                                            <a class="text-blue mt-1" (click)="sale()"><i
                                                class="fa fa-arrow-right"></i>View</a>
                                            <span class="counter-value">{{sale1_count}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12"></div> -->
                                <!-- <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter yellow">
                                            <div class="counter-icon">
                                                <i class="fa fa-calculator"></i>
                                            </div>
                                            <h3>OUTSTANDING</h3>
                                            <span class="counter-value">0</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter voilet">
                                            <div class="counter-icon">
                                                <i class="fa fa-bar-chart"></i>
                                            </div>
                                            <h3>CBM / TEU'S</h3>
                                            <span class="counter-value">0</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="counter grey">
                                            <div class="counter-icon">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <h3>TRACKING</h3>
                                            <span class="counter-value">0</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popup screen starts -->
<div class="kt-section__content">
    <ng-template #fcl let-c="close" let-d="dismiss">
        <form name="fclform" class="fclform" autocomplete="off" (ngSubmit)="fcl.form.valid"
            #fcl="ngForm" novalidate>
            <div class="modal-header">
                <h6 class="modal-title"> {{list_page_name}}</h6>
                <button type="button" class="close" (click)="upload_hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="kt-portlet-preview frt-com-out-tbl-div">
                    <div class="frt-outer-tbl-div-434 frt-mat-outline-inner-screen">
                        <table mat-table [dataSource]="dataSource_fcl" matSort
                            class="frt-mat-table frt-tbl-list-st mat-table">
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 55px;">Action</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                  <button (click)="view(element.JSHP_RID)" mat-icon-button color="primary" matTooltip="Edit">
                                    <mat-icon class="mat-icon-green">edit</mat-icon>
                                  </button>
                                </td>
                                
                              </ng-container>

                            <ng-container matColumnDef="JSHP_SHIPMENT_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 110px;">Shipment No
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.JSHP_SHIPMENT_NO}}</td>

                            </ng-container>

                            <ng-container matColumnDef="JSHP_HOUSE_BILL_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 115px;">HBL No</th>
                                <td mat-cell *matCellDef="let element">{{element.JSHP_HOUSE_BILL_NO}} </td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_A_BOOKING_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 80px;">Booking Date</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.JSHP_A_BOOKING_DATE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_E_DEPARTURE_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 80px;">ETD</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.ETD}}</td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_E_ARRIVAL_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 80px;">ETA</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.ETA}}</td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_MPRT_ORIGIN">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 75px;">Origin</th>
                                <td mat-cell *matCellDef="let element" class="text-center">{{element.JSHP_MPRT_ORIGIN}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_MPRT_DESTINATION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 85px;">Destination</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.JSHP_MPRT_DESTINATION}}</td>
                            </ng-container>
                            <ng-container matColumnDef="JSHP_ACTUAL_VOLUME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 85px;">Volume</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.VOLUME}}</td>

                            </ng-container>

                            <ng-container matColumnDef="JSHP_ACTUAL_WEIGHT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 85px;">Weight</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.WEIGHT}}</td>

                            </ng-container>
                            <ng-container matColumnDef="JSHP_TOTAL_PACKAGE_COUNT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center frt-th-col-cen"
                                    style="width: 105px;">Package</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    {{element.PACKAGE}}</td>

                            </ng-container>
                            <ng-container matColumnDef="SHIPPER_NAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 260px;">Shipper</th>
                                <td mat-cell *matCellDef="let element">{{element.SHIPPER}}</td>

                            </ng-container>

                            <ng-container matColumnDef="CONSIGNEE_NAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center wms-th-col-cen"
                                    style="width: 110px;">Consignee</th>
                                <td mat-cell *matCellDef="let element" class="text-center">{{element.CONSIGNEE}}</td>

                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="fcl_Columns;sticky:true"></tr>
                            <tr mat-row *matRowDef="let row; columns: fcl_Columns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="!hideFooter" class="modal-footer">
                <ng-content select=".app-modal-footer"></ng-content>
            </div>
        </form>
    </ng-template>
</div>