<!--------New Login Start---------->
<div class="kt-auth">
	<div class="container-fluid">
		<div class="row frt-login-default mx-0">
			<div class="clouds">
				<div class="cloudOne"></div>
				<div class="cloudTwo"></div>
				<div class="cloudThree"></div>
			</div>

			<div class="cargo-flight">
				<div class="cargo-flight-back-effect"></div>
				<img src="assets/img/plane.svg">
			</div>

			<div class="cargoShip">
				<img src="assets/img/container_ship.svg">
				<div class="cir-smoke">
					<div class="cir-smoke_4"></div>
					<div class="cir-smoke_3"></div>
					<div class="cir-smoke_2"></div>
					<div class="cir-smoke_1"></div>
				</div>
			</div>
			<div class="road-line">
				<!--<img src="assets/img/line.svg" >-->
				<div class="road-lines_new"></div>
			</div>
			<div class="truck">
				<img src="assets/img/truck.svg">
				<div class="wheel_1"><img src="assets/img/truck-w.svg" class="fa-spin"></div>
				<div class="wheel_2"><img src="assets/img/truck-w.svg" class="fa-spin"></div>
				<div class="wheel_3"><img src="assets/img/truck-w.svg" class="fa-spin"></div>
				<div class="wheel_4"><img src="assets/img/truck-w.svg" class="fa-spin"></div>
			</div>
			<div class="col-lg-6 offset-lg-6">
				<div class="card" id="card-position">
					<div class="card-body">
						<div [@fadeInOut] class="alert alert-danger" *ngIf="errorDiv">{{errormsg}}</div>
						<form class="kt-form" [formGroup]="loginForm" autocomplete="off">
							<h3 class="card-title">Login</h3>
							<div class="form-row form-group">
								<div class="col-lg-12 text-center">
									<img src="assets/img/brand/shifsoft-logo.svg" class="lg-logo-img" />
								</div>
								<div class="col-lg-12">

									<mat-form-field class="mat-form-field-fluid">
										<input matInput type="username" placeholder="Username"
											matTooltip="Please Enter Username" [(ngModel)]="logindata.username"
											formControlName="username" autocomplete="off" />
										<mat-error *ngIf="isControlHasError('username', 'required')"><strong>Username is
												required</strong></mat-error>
										<mat-error *ngIf="isControlHasError('username', 'email')"><strong>Enter valid
												email id</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="form-row form-group">
								<div class="col-lg-12">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput type="password" placeholder="Password"
											[(ngModel)]="logindata.password" formControlName="password"
											autocomplete="off" matTooltip="Please Enter Password">
										<mat-error *ngIf="isControlHasError('password','required')">
											<strong>{{ 'Password is required' }}</strong>
										</mat-error>
										<mat-error *ngIf="isControlHasError('password','minlength')">
											<strong>{{ 'Password minimum length should be 3' }} </strong>
										</mat-error>
										<mat-error *ngIf="isControlHasError('password','maxlength')">
											<strong>{{ 'Password maximum length should be less than 10'}}</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="form-row form-group">
								<div class="col-lg-6 col-md-6 col-sm">
									<input id="remind_me" name="remind_me" type="checkbox" class="outline">
									<label class="lg-chkbox-lbl" for="remind_me">Remember me</label>
								</div>
								<div class="col-lg-6 col-md-6 col-sm text-right">
									<div class="kt-login__actions">
										<a href="javascript:;" class="kt-link kt-login__link-forgot">Forgot Password</a>
									</div>
								</div>
								<div class="col-lg-12 text-center">

									<div class="kt-login__actions bg-btn-my">
										<button (click)="submit()" [disabled]="loginForm.invalid"
											[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
											id="kt_login_signin_submit"
											class="btn btn-primary btn-elevate kt-login__btn-primary py-1">
											{{ 'Login' }}</button>
									</div>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!--------New Login End---------->