.kt-auth {
    background: url(../../assets/img/frt_login_bg.svg) 100% 100%/cover no-repeat #1579b7;     
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 999;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}