.idea/
.target/
.class
/target/
java/shipping-dashboard/shippingdashboard-facade/target/classes/application-dev.properties
java/shipping-dashboard/shippingdashboard-facade/target/classes/application-qa.properties
java/shipping-dashboard/shippingdashboard-facade/target/classes/application.properties
java/shipping-dashboard/shippingdashboard-service/target/classes/application-dev.properties
java/shipping-dashboard/shippingdashboard-service/target/classes/application-qa.properties
java/shipping-dashboard/shippingdashboard-service/target/classes/application.properties
*.class
*.lst
*.jar
*.original
*.dumpstream
java/shipping-dashboard/shippingdashboard-service/target/classes/application-uat.properties
java/shipping-dashboard/shippingdashboard-service/target/maven-archiver/pom.properties
java/shipping-dashboard/shippingdashboard-shared/target/maven-archiver/pom.properties
java/shipping-dashboard/shippingdashboard-facade/target/maven-archiver/pom.properties
*.txt
java/shipping-dashboard/shippingdashboard-facade/target/surefire-reports/com.wds.ship.ShipApplicationTests.txt
*.txt
*.xml
