<!-- <div class="chart-container">
  <div
    id="monthlyChart"
    style="min-width: 310px; height: 400px; margin: 0 auto"
  ></div>
  <div id="yearlyChart" class="chart"></div>
</div> -->

<div class="container-fluid py-3">
    <h1>Charts!!!</h1>
  
    <!-- <div class="row mt-5">
      <div class="col-6">
        <div id="chart-gauge"></div>
      </div>
      <div class="col-6">
        <div id="chart-pie"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div id="chart-column"></div>
      </div>
      <div class="col-6">
        <div id="chart-line"></div>
      </div>
    </div> -->

    <div class="row mt-5">
      <div class="col-6">
        <div id="div-container" style="width: 500px;"></div>
      </div>
      <div class="col-6">
        <div id="div-container-stackedchart" style="width: 500px;"></div>
      </div>
    </div>

    
    
  </div>


