<!-- <div class="container-fluid">
  <h1>Charts!!!</h1>
  <div class="row mt-5">
    <div class="col-6">
      <div id="div-container" style="width: 600px"></div>
    </div>
    <div class="col-6">
      <div id="div-container-stackedchart" style="width: 600px"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div id="div-container-stackedchart1" style="width: 600px"></div>
    </div>
    <div class="col-6">
      <div id="div-container-stackedchart3" style="width: 600px"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div id="div-container-stackedchart2" style="width: 600px"></div>
    </div>
  </div>
</div>
<div>
  <a routerLink="/landing">back</a>
</div> -->

<!-- Update your HTML template -->
<div class="back-link">
  <a routerLink="/landing">back</a>
</div>
<div class="container-fluid main-container">
  <h1 class="text-center mb-5">Charts!!!</h1>
  <div class="row mt-5">
    <!-- <div class="col-md-6">
      <div id="div-container" class="chart-container"></div>
    </div> -->
    <div class="col-md-6">
      <div id="div-container-stackedchart" class="chart-container"></div>
    </div>
    <div class="col-md-6">
      <div id="div-container-stackedchart1" class="chart-container"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div id="div-container-stackedchart3" class="chart-container"></div>
    </div>
    <div class="col-md-6">
      <div id="div-container-stackedchart2" class="chart-container"></div>
    </div>
  </div>
</div>
