<div class="kt-subheader my-0-7-2">
    <div class="kt-container kt-cntr-plr-13">
        <div class="kt-subheader__main kt-sub-hd-p-0">
            <h3 class="kt-subheader__title">Sea Dashboard Export</h3>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-0-2">
        <div class="kt-portlet px-3 pt-2 pb-0">
            <div class="kt-portlet-body">
                <div class="kt-portlet-preview">
                    <form autocomplete="off">
                        <div class="form-row">
                            <div class="col-lg-1"></div>
                            
                            <div class="container home-dashboard">
                                <div class="row">
                                    <div class="col-md-4 col-sm-20">
                                        <button class="btn btn-lg crm_search"
                                                        type="button">EXPORT Sales Support</button>
                                        <div class="box-shadow">
                                            
                                            <fieldset class="ss-crm-fieldset">                                                
                                                <div  aria-label="Basic outlined example" class="btn-group" role="group">
                                                    <button class="btn btn-lg btn-outline-primary " type="button"><span><i aria-hidden="true" class="fa fa-usd"></i></span>
                                                        Unapproved Quotation </button>
                                                    <button class="btn btn-lg btn-outline-primary" type="button"><span><i aria-hidden="true" class="fa fa-usd"></i></span>
                                                        Approved Quotation List </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                                               
                            </div>
                            <div class="grid-container">
                                <div class="item1 rcorners1">Header</div>
                                <div class="item2">Menu</div>
                                <div class="item3">Main</div>  
                                <div class="item4">Right</div>
                                <div class="item5">Footer</div>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
