<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" [attr.src]="img_path"  style="height: 48px;"/>
		</a>
	</div>
</div>
<!-- end:: Brand -->

<!-- <app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: img_path,
    height: img_height,
    alt: 'Crm Logo'
  }"
  [navbarBrandMinimized]="{
    src: img_path,
    height: img_height,
    alt: 'Crm Logo'
  }"
  [sidebarToggler]="'lg'"
> -->
  <!-- <div [ngClass]="txt_class">
    <p>{{ this.dataservice.session_variables_return().MBRN_NAME }}</p>
  </div> -->
