<!-- <div class="container-fluid main-container">
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchartImport-sales"
        class="chart-container"
      ></div>
    </div>
    <div class="col-md-6">
      <div
        id="div-container-stackedchartImportLcl"
        class="chart-container"
      ></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div id="div-container-stackedchartFcl" class="chart-container"></div>
    </div>
    <div class="col-md-6">
      <div
        id="div-container-stackedchartImportDocumentation"
        class="chart-container"
      ></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchartImportTranshipmentDesk"
        class="chart-container"
      ></div>
    </div>
  </div>
</div> -->

<div class="container-fluid main-container">
  <div *ngIf="isChartsLoading" class="spinner-container">
    <div>
      <mat-spinner></mat-spinner>
      <p>Loading charts...</p>
    </div>
  </div>
  <div [hidden]="isChartsLoading">
    <div class="row mt-5">
      <div class="col-md-6">
        <div
          id="div-container-stackedchartImport-sales"
          class="chart-container"
        ></div>
      </div>
      <div class="col-md-6">
        <div
          id="div-container-stackedchartImportLcl"
          class="chart-container"
        ></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div id="div-container-stackedchartFcl" class="chart-container"></div>
      </div>
      <div class="col-md-6">
        <div
          id="div-container-stackedchartImportDocumentation"
          class="chart-container"
        ></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div
          id="div-container-stackedchartImportTranshipmentDesk"
          class="chart-container"
        ></div>
      </div>
    </div>
  </div>
</div>
