<div class="container-fluid main-container">
  <!-- <h1 class="text-center mb-2">Charts!!!</h1> -->
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-air-sales"
        class="chart-container"
      ></div>
    </div>
    <div class="col-md-6">
      <div id="div-container-stackedchart-air-cs" class="chart-container"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-air-documentation"
        class="chart-container"
      ></div>
    </div>
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-air-planner"
        class="chart-container"
      ></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div id="div-container-stackedchart-air-bl" class="chart-container"></div>
    </div>
  </div>
</div>
