.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-container p {
  margin-top: 10px;
}

.table-container {
  height: 500px; /* Set your preferred height */
  overflow-y: auto;
}

.mat-elevation-z8 {
  border-collapse: collapse;
  width: 100%;
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px;
  text-align: left;
}

.mat-progress-spinner {
  margin-right: 8px;
}
