<div class="container-fluid main-container">
  <!-- <h1 class="text-center mb-2">Charts!!!</h1> -->
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-airimport-sales"
        class="chart-container"
      ></div>
    </div>
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-airimport-cs"
        class="chart-container"
      ></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-airimport-documentation"
        class="chart-container"
      ></div>
    </div>
    <div class="col-md-6">
      <div
        id="div-container-stackedchart-air-transhipment"
        class="chart-container"
      ></div>
    </div>
  </div>
</div>
