<!-- <div class="frt-mng-das">    
    <div class="col-md-12 mb-0-2">
        <div class="kt-portlet frt-das-port">
            <div class="kt-portlet-body">
                <div class="kt-portlet-preview"> -->
                    <mat-tab-group>
                        <mat-tab label="Sea Export" *ngIf="isProductMatching('SE')"><app-sea-dashboard></app-sea-dashboard></mat-tab>
                        <mat-tab label="Sea Import" *ngIf="isProductMatching('SI')"><app-sea-import-dashboard></app-sea-import-dashboard> </mat-tab>
                        <mat-tab label="Air Export" *ngIf="isProductMatching('AE')"> Air Export </mat-tab>
                        <mat-tab label="Air Import" *ngIf="isProductMatching('AI')"> Air Import </mat-tab>

                    </mat-tab-group>
                    <router-outlet></router-outlet>
                <!-- </div>
            </div>
        </div>
    </div>
</div> -->
