<!-- <div class="frt-mng-das">    
    <div class="col-md-12 mb-0-2">
        <div class="kt-portlet frt-das-port">
            <div class="kt-portlet-body">
                <div class="kt-portlet-preview"> -->
<div class="button-container">
  <button class="styled-button" type="button" routerLink="/chart">
    View Chart
  </button>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Sea Export"
      ><app-sea-dashboard></app-sea-dashboard
    ></mat-tab>
    <mat-tab label="Sea Import"
      ><app-sea-import-dashboard></app-sea-import-dashboard>
    </mat-tab>
    <mat-tab label="Air Export"
      ><app-air-export-dashboard></app-air-export-dashboard
    ></mat-tab>
    <mat-tab label="Air Import"> Air Import </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
