body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}
.nowrap { white-space: nowrap; }
*,
:active,
:focus { outline: 0 !important; }
.form-group {
     margin-bottom: 0rem !important; 
}
//----Alert Style Start-------->  

.notice {
    animation: 2s alert;
    padding: 8px 12px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-top: -47px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.4);
    position:absolute;
    z-index: 2; 
    width: 70%;
    left: 16%;  
    font-weight: 600; 
    z-index: 999;
    strong { position: relative; }   
    i { font-size: 1.5rem; transform: translate(-3px, 1px); }
    span {
        position: absolute;
        font-size: 0.975rem; 
        font-weight: 500;
        padding-top: 1px;
        padding-left: 8px;
        white-space: nowrap;
        word-break:break-all;
    }    
} 
.notice-sm { padding: 10px; }
.notice-lg { padding: 35px; }
.notice-success {  background: #e7fce3 !important;  border-color: #178202 !important; color: #178202 !important; }
.notice-success>strong { color: #178202 !important; font-weight: 600 !important;  }
.notice-info { border-color: #45ABCD; }
.notice-info>strong { color: #45ABCD; }
.notice-warning { border-color: #FEAF20; }
.notice-warning>strong { color: #FEAF20; }
.notice-danger { background: #fff5f3 !important; border-color: #d73814 !important; color: #d73814 !important; }
.notice-danger>strong { color: #d73814 !important; font-weight: 600 !important; }


 @keyframes alert {
	from {
	  opacity: 0;
	  transform: translatey(40px);
	}
	to {
	  opacity: 1;
	  transform: translatey(0);
	}
}
//-----Alert Styles End--------> 

button { border: none !important; margin-right: 0.125rem !important; }

.btn.focus,
.btn:focus,
.form-control,
.form-control:focus,
button,
button:focus {
    outline: 0 !important;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none !important;
    &::placeholder {
        color: rgba(0,72,110,0.5) !important;
    }
}

select {
    background-color: transparent !important;
    font-weight: 400;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control, .frm-cntrl-no-bdr {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.6) !important;    
    border: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    border-radius: 0px !important;
    // padding: 0.175rem 0.5rem 0.1rem 0rem !important;
    padding: 0.385rem 0.5rem 0.1rem 0rem !important;
    height: 28px !important;
    line-height: 29px !important;
    transition: border-color 0.15s ease-in-out;
    &:focus, &:hover, &:active {
        border-color: #22b9ff !important;
        border-width: 2px !important;
        font-weight: 500 !important;
        color: #3f51b5 !important;
    }    
}
.frm-cntrl-no-bdr {
    color: #3f51b5 !important;
    border: 0px !important;
    // padding-left: 2px !important;    
    // box-shadow: 0px 1px 3px rgba(0,0,0,0.25) !important;
}
select {
    display: inline-block;
    width: 100%;
    height: 28px !important;
    padding: 0.325rem 0.5rem 0.1rem 0rem !important;
    margin: 0;
    background: #fff;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.7);
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;  
    &:focus, &:hover, &:active {
        border-color: #22b9ff !important;
        border-width: 2px !important;
        font-weight: 500 !important;
        color: #3f51b5 !important;
    }       
  }
  .cus-select, .cus-select-td, .cus-select-td-sts {
      position: relative;      
      &::after {
          content: "\f078";
          font-family: "FontAwesome";
          font-size: 11px;
          color: rgba(0, 0, 0, 0.6);
          right: 0px;
          top: 6px;
          padding: 3px 4px 0px;
          position: absolute;
          pointer-events: none;
          background: #fff;
      }
      &::before {
        content: "";
        line-height: 28px;
        background: transparent;
        position: absolute;
        pointer-events: none;
        display: block;
      } 
      &:focus, &:hover, &:active {
        &::after {
            color: #22b9ff !important;
         }
    }     
  }

  .cus-select-td {
    select { height: 28px !important; }
    &::after {
        top: 8px;
        padding: 4px;
    }
 }
 .cus-select-td-sts { 
    select { height: 30px !important; }
    &::after {
        top: 8px;
        padding: 4px;
    }
 }

.col-form-label {
    padding-top: 8px !important;
    margin-bottom: 0;
    line-height: 1.2;
    text-align: right !important;
    color: rgba(0, 0, 0, 0.6) !important;
    margin-right: 2px !important;
    font-weight: 500;
}
.lbl-mr-0 { margin-right: 0px !important; }

.lbl-mr-ptb-0 { margin-right: 0px !important;  }

.ss-acc-top-st {
    background: #fff !important;
    box-shadow: 0px 0px 4px 0px rgba(82,63,105,0.3) !important;
    padding: 7px 10px 10px !important;
    margin: 0px 4px 4px 4px !important;
}

.ss-acc-top-st-lt, .ss-acc-top-st-lt-btm,
.ss-acc-top-st-rt, .ss-acc-top-st-rt-btm  {   
  box-shadow: 0px 0px 4px 0px rgba(82,63,105,0.3) !important;
  background: rgba(255,255,255,1) !important;
  padding: 7px 20px 4px 9px !important;
  margin: 0px !important;
  min-height: 107px;
  max-height: 107px;
 }
.ss-acc-top-st-lt-btm,
.ss-acc-top-st-rt-btm {
    min-height: fit-content;
    max-height: fit-content;
    margin-top: 10px !important;
}


 /*-----Button Group & LOV Icon Styles Start-------*/

  .int-grp-btn, .int-grp-btn-1,
  .int-grp-btn-2, .int-grp-btn-3, .int-grp-btn-td {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 0px;
    z-index: 2;       
    .btn {
      background: #a8b8bf !important;
      padding: 0.375rem 0rem !important;
      height: 25px;
      width: 25px;
      border-radius: 0rem;
    }
    .fa {
      background: transparent !important;
      padding: 2px 4px !important;
      position: absolute !important;
      line-height: 0.6;
      color: #fff !important;
      top: 6px;
      right: 6px;
      font-size: 16px !important;
    }
  }
  .int-grp-btn-1 { right: -1px; }
  .int-grp-btn-2, .int-grp-btn-3, .int-grp-btn-td {
      .btn {
          width: 20px;
          height: 20px;
          background-color: #fff !important;
      }
      .fa {
          right: 1px;
          color: rgba(0, 0, 0, 0.6) !important;
      }
      &:hover,
      &:active,
      &:focus {
          .fa {
              color: #3f51b5 !important;
          }
      }
  }
  .int-grp-btn-3 {
    right: -2px;
    top: 5px;
    .btn {
        width: 22px;
        height: 22px;
        background-color: #f0f1f7 !important;        
    }
    .icon-1 { right: 31px; top: 7px; }
    .icon-2 { font-size: 14px !important; top: 7px; }

  }
  .int-grp-btn-td {
    right: -1px;
    top: 6px;
    .fa { top: 4px; right: 3px; }
    .icon-1 { right: -1px; top: 5px; }
   }
  .date-icon, .date-icon-1 {
    position: absolute;
    float: right;
    right: 7px;
    top: 6px;
    font-size: 14px;
    color:rgba(0, 72, 110, 0.9) !important;    
  }
  .date-icon-1 {
    right: 2px;
    top: 16px
  }
  .ss-crm-date-icon-st1 {
    position: absolute !important;
    top: 4px!important;
    background: #fff !important;
    color: #e6042b !important;
    right: 0px !important;
    padding: 5px !important;
    cursor: pointer !important;
    border-radius: 0px !important;
    }

/*------------------------------Table Styles Start------------------------------*/  
.acc-tbl-list-st {
    border-collapse: collapse;
    table-layout: fixed;
    background: #fff;
    width: 100%;
    margin-bottom: 0 !important;    
}
.acc-table-div,     .acc-table-div-90,  .acc-table-div-98,  .acc-table-div-120, .acc-table-div-133, .acc-table-div-148, .acc-table-div-155, 
.acc-table-div-175, .acc-table-div-183, .acc-table-div-190, .acc-table-div-210, .acc-table-div-235, .acc-table-div-240, .acc-table-div-260, 
.acc-table-div-296, .acc-table-div-325, .acc-table-div-335, .acc-table-div-355, .acc-table-div-360, .acc-table-div-380, .acc-table-div-394, 
.acc-table-div-400, .acc-table-div-432, .acc-table-div-448 
{
    width: 100%;
    table-layout: fixed;
    background: #fff;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 0px !important;
    border: 0px solid #f2f3f8 !important;
    min-height: 383px !important;
    max-height: 383px !important;
}
.acc-table-div-90  { min-height: 90px !important; max-height: 90px !important;  }
.acc-table-div-98  { min-height: 98px !important; max-height: 98px !important;  }
.acc-table-div-120 { min-height: 120px !important; max-height: 120px !important; }
.acc-table-div-133 { min-height: 133px !important; max-height: 133px !important; }
.acc-table-div-148 { min-height: 148px !important; max-height: 148px !important; }
.acc-table-div-155 { min-height: 155px !important; max-height: 155px !important; }
.acc-table-div-175 { min-height: 175px !important; max-height: 175px !important; }
.acc-table-div-183 { min-height: 183px !important; max-height: 183px !important; }
.acc-table-div-190 { min-height: 190px !important; max-height: 190px !important; }
.acc-table-div-210 { min-height: 210px !important; max-height: 210px !important; }
.acc-table-div-235 { min-height: 235px !important; max-height: 235px !important; }
.acc-table-div-240 { min-height: 240px !important; max-height: 240px !important; }
.acc-table-div-260 { min-height: 260px !important; max-height: 260px !important; }
.acc-table-div-294 { min-height: 294px !important; max-height: 294px !important; }
.acc-table-div-325 { min-height: 325px !important; max-height: 325px !important; }
.acc-table-div-335 { min-height: 335px !important; max-height: 335px !important; }
.acc-table-div-355 { min-height: 350px !important; max-height: 355px !important; }
.acc-table-div-360 { min-height: 360px !important; max-height: 360px !important; }
.acc-table-div-380 { min-height: 380px !important; max-height: 380px !important; }
.acc-table-div-394 { min-height: 394px !important; max-height: 394px !important; }
.acc-table-div-400 { min-height: 400px !important; max-height: 400px !important; }
.acc-table-div-432 { min-height: 432px !important; max-height: 432px !important; }
.acc-table-div-448 { min-height: 448px !important; max-height: 448px !important; }

.table { position: relative; } 
.table th,
.table td {
    font-family: 'Roboto', sans-serif !important;
    animation: ss-top 1s;
}

.table th {
    position: sticky;
    top: -1px;
    z-index: 7; 
    background: #3f51b5 !important;
    color: #fff !important;  
    padding: 0px 2px !important;
    border-top: 1px solid #394aa9 !important;
    border-bottom: 1px solid #394aa9 !important; 
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    &:first-child {
        border-left: 1px solid #394aa9 !important;
        padding: 0px 2px !important; 
      }
      &:last-child { 
        border-right: 1px solid #394aa9 !important;
        padding: 0px 2px !important;
      }   
}

.table tbody tr td,
.table tfoot tr td {
    padding: 0px 2px !important;
    cursor: pointer;
    font-size: 14px !important;
    line-height: normal !important;
    height: 26px !important;
    font-weight: 400;
    vertical-align: middle !important;      
      //border-bottom: 1px solid rgba(34, 185, 255,0.2) !important; 
      border-bottom: 1px solid rgba(206,213,219,.4) !important;       
    &:first-child {
      //border-left: 1px solid rgba(34, 185, 255,0.2) !important;
      border-left: 1px solid rgba(206,213,219,.4) !important;
      padding: 0px 2px !important;
    }
    &:last-child { 
      //border-right: 1px solid rgba(34, 185, 255,0.2) !important;
      border-right: 1px solid rgba(206,213,219,.4) !important;
      padding: 0px 2px !important;
    }  
    .form-control {
        background-color: #fff !important;
       // border: 1px solid rgba(125,172,196,0.8) !important;
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        height: 26px !important;
        line-height: 27px !important;
        padding: 0.15rem 0.1rem 0.1rem 0.1rem !important;
        font-size: 14px !important;
    }
    .acc-btn-out-div { margin-top: 3px !important; }
    .int-grp-btn-td {
        right: -1px;
        top: 2px;
        .btn { background-color: #7dacc4 !important; }
        .fa { top: 4px; right: 3px; color: #fff !important; }
        .icon-1 { right: -1px; top: 5px; }
    }
    select { height: 26px !important; line-height: 22px !important; border: 1px solid rgba(125,172,196,0.8) !important; padding: 0.15rem 0.1rem .1rem !important; }
    .cus-select-td {
        height: 26px !important;
        select {
            background-color: #fff !important;
        }
        &::after { top: 1px; padding: 7px; background-color: #7dacc4 !important; color: #fff !important; }
        &::before { line-height: 26px; }
    }
    .mat-form-field-fluid { margin-top: -9px !important; height: 34px !important; }
    .ss-mat-ff { margin-top: -15px; }
    .ss-mat-dd-tab { margin-top: -18px !important; }
}
.table tbody tr td {
    .ss-acc-voulist-eye-sec {
        padding: 8px 0px 8px 0px;
        margin: 7px auto;
        border: 3px solid #3f51b5;
        position: relative;
        width: 95%;
        .col-form-label {
            color: rgba(0, 0, 0, 0.9) !important;
         }
         .form-control {
            height: 28px !important;
            padding: 0.15rem 0.1rem 0.15rem 0.1rem !important;
            line-height: 31px !important;
        }
    }
}
.table tbody tr:nth-of-type(odd) {
    // background-color: rgba(34, 185, 255,0.06) !important;
    background-color: rgba(0,0,0,.03) !important;
    
}
.table tbody tr:hover,  .trselected_class {
    // background-color: rgba(0,0,0,.025) !important;
    background-color: #baf4fc !important;
    
}
.table tfoot {
    position: sticky;
    bottom: -1px;
    z-index: 7;
    background-color: #fff;
    font-weight: 600 !important;   
    .total { color: #3f51b5 !important; }
}
.table tfoot tr td { 
    font-size: 15px !important;  
    .form-control { color: #3f51b5 !important; border-bottom: 1px solid #3f51b5 !important; }
 }
 .table tbody+tbody { border-top: 1px solid rgba(206,213,219,.4) !important; }
/*---------Table Td Animation---------*/
.acc-tbl-td-slid {
    .table td {
        animation: ss-top 1s;
    }
}
.ss-acc-mdl-tbl {
.table th {
    background: #22b9ff !important;
    border-top: 1px solid #1cb7ff !important;
    border-bottom: 1px solid #1cb7ff !important;    
    &:first-child { border-left: 1px solid #1cb7ff !important; }
    &:last-child { border-right: 1px solid #1cb7ff !important; }
    }
}

/*-------------------------------Table Styles End-------------------------------*/

/*----------Status Styles------------*/
.gl-status {
    .cancelled,
    .requested,
    .verified,
    .approved,
    .posted,
    .created,
    .printed,
    .optional,
    .ss-gl-active-st,
    .ss-gl-block-st,
    .ss-gl-invalid-st,
    .posted_reversed {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: 16px;
        min-width: 20px;
        line-height: 14px;
        border-radius: 10px;
        font-size: 11px;
        font-weight: 400;
        padding: 2px 10px;
        color: #fff;
    }
    .requested { background: #e3b450b8 !important; }
    .created { background: #ffc107c9 !important;  }
    .cancelled { background: #d30000 !important; }
    .posted { background: #f13071 !important; }
    .posted_reversed { background: #8892d6 !important; }
    .printed { background: #5ee35096 !important; }
    .approved { background: #5ee35096 !important; }
    .ss-gl-active-st  { background-color: #34bfa3; }
    .ss-gl-block-st   { background-color: #fe6d6d; }    
    .ss-gl-invalid-st { background-color: #8892d6; }
}

/*----------Button Style Start------------------*/

#btn-absolute-rt {
    position: absolute; 
    right: 3px; 
    margin-left: 4px;
}
.acc-tit-add-entry {
    position: absolute;
    right: 10px;
    top: 8px; 
}
.acc-tit-add-entry-1 {
    position: absolute;
    right: 23px;
    top: 3px;
}

/*Btn Style One*/

.acc-btn-out-div,
.acc-frt-btn-out-div {
    text-align: center;    
    .btn-style-1,
    .btn-style-1-sm,
    .btn-style-1-sm-n-ani,
    .btn-style-n-ani,
    .btn-style-update,
    .btn-style-close
     {
        position: relative;
        display: inline-block;
        line-height: 18px;
        color: #fff !important;
        padding: 5px 10px;        
        border-radius: 0.25rem !important;
        border: 0px;
        overflow: hidden;
        background-color: #22b9ff !important;

        span {
            position: relative;
            font-size: 14px;
            font-weight: 500;
        }

        i {
            margin-right: 4px;
            display: inline-block;
            transform: rotate(45deg);
            position: relative;
            bottom: -1px;
            transition: .5s;
            font-size: 14px;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0%;
            content: "";
            background-color: #22b9ff !important;
            transition: .5s;
        }

        &:hover {
            color: #fff !important;
           
            i {
                transform: rotate(0deg);
            }

            &::before {
                width: 100%;
                background-color: #3f51b5 !important;
            }
        }
    }
    .btn-style-1-sm, .btn-style-1-sm-n-ani { 
        padding: 2px 8px !important;
        white-space: nowrap !important;
        span { font-size: 12px; }  
        i { font-size: 13px; bottom: 0px; color: #fff !important; } 
    }
    .btn-style-1-sm-n-ani, .btn-style-n-ani { 
        i { transform: rotate(0deg); color: #fff !important; } 
        &:hover {
           i { transform: rotate(0deg); color: #fff !important; } 
        }       
     }

    .btn-style-n-ani {
        padding: 6px 10px; 
        i { transform: rotate(45deg); }
        &:hover {
          i { transform: rotate(45deg); }
          &::before {  width: 0%; }
        }
        &:disabled {
            opacity: 0.35;
            cursor: not-allowed;
        }
    }


    .btn-style-update {
        background-color: #1ac20796 !important;
        &::before {
            background-color: #1ac20796 !important;
        }
        &:hover { 
        
            &::before {
                width: 100%;
                background-color: #11860496 !important;
            }
        }
    }

    .btn-style-close {
        background-color: #ff0000 !important;
        &::before {
            background-color: #ff0000 !important;
        }
        &:hover { 
        
            &::before {
                width: 100%;
                background-color: #790303 !important;
            }
        }
    }
    .theme-btn {
        display: inline-block;
        transition: all .5s ease;
        width: auto;
        // background-color: #22b9ff;
        border-radius: 0.25rem;
        // margin-right: 0.25rem !important;
        &:disabled {
            opacity: 0.35;
            cursor: not-allowed;
        }
    }  
    .mr-1 { margin-right: 0.25rem !important; } 
}

.kt-subheader .kt-subheader__btn-primary {
    background: #f2f3f7 !important;
    color: #959cb6;
    font-weight: 500;
    &::before { background: #f2f3f7 !important; }
}
.kt-subheader .kt-subheader__btn-primary:hover, 
.kt-subheader .kt-subheader__btn-primary.active, 
.kt-subheader .kt-subheader__btn-primary:active, 
.kt-subheader .kt-subheader__btn-primary:focus {
    color: #ffffff;
    background: #22b9ff !important;
}

.acc-add-icon-btn { 
    position: relative;
    display: inline-block;
    width: 28px !important; 
    height: 28px !important;
    line-height: 28px !important;
    color: #fff !important;    
    border-radius: 28px !important;
    border: 0px;
    overflow: hidden;
    background-color: #22b9ff !important;
    text-align: center; 
    i { font-size: 20px !important; transform: translateX(-9px) !important; }
    &::before {
        background-color: #22b9ff !important;
    }
    &:hover { 
        background-color: #3f51b5 !important;
        &::before {
            width: 100%;            
            background-color: #3f51b5 !important;
        }
    }      
}



.acc-frt-btn-out-div { text-decoration: none; }

.btn-secondary {
    color: #23282c !important;
    background-color: #c8ced3 !important;
    border-color: #c8ced3 !important;
    &:hover {
        background-color: #b3bbc2 !important;
        border-color: #acb5bc !important;
    }
}
.acc-btn-pr-out-div {
    display: flex;
    flex-direction: column;
}
.acc-btn-pr {
    padding: 1px 3px !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 4px !important;
    margin-bottom: 4px;    
    .fa-f-11, .fa-f-11-1 { font-size: 11px !important; font-weight: 400; }
    .fa-f-11-1 { margin-left: -6px !important; }
}
.acc-tbl-td-fa-ico {
    margin: 1px 1px 1px 0px !important;
    font-size: 15px !important;
    padding: 0px !important;
    .fa { margin-right: 0px !important; }   
}
.txt-danger  { color: #ff0000 !important; }
.txt-primary { color: #22b9ff !important; }

.btn-red-circle { 
    padding: 0px 2px !important;
    height: 16px !important;
    width: 16px !important;
    background: #ff0000 !important; 
    color: #fff !important;  
    border-radius: 20px !important;
    i { padding-right: 0px !important;
     .fa { margin-right: 0px !important; }
    } 
    .i-ico {
        font-size: 12px !important;
        padding: 0px 0px 0px 0px !important;
        width: 16px !important;
        height: 16px !important;
        line-height: 16px !important;
        border-radius: 20px !important;        
        margin: -4px 0px 1px -2px !important;
        font-size: 12px !important;
    }
    &::before {
        background-color: #ff0000 !important;
    } 
    &:hover, &:active, &:focus { background-color: #ff0000 !important; }
    &:disabled { opacity: 0.5; }
}


/*-----------BUtton Style End-------------------*/  


/*---------all Vouched List Screen------------*/

.ss-acc-voulist-eye-sec {
    padding: 8px 0px 8px 0px;
    margin: 7px auto;
    border: 3px solid #3f51b5;
    position: relative;
    width: 95%;
    .col-form-label {
        color: rgba(0, 0, 0, 0.9) !important;
     }
     .form-control {
        height: 29px !important;
        padding: 0.15rem 0.1rem 0.15rem 0.1rem !important;
    }
}

.ss-acc-voulist-eye-sec-clbtn-st {
    position: absolute;
    background: #f5302e !important;
    border-radius:0;
    color: white;
    top: 1px;
    right: 1px;
    height: 24px;
    width: 24px;
    .fa { transform: translate(1px, -2px) !important; }
    .fa-trans-0 { transform: translate(0px, 0px) !important; }
}

/*-----------Invoice Entry Table Footer----------*/
.ss-acc-tbl-ftr-div {
    background-color: rgba(34, 185, 255,0.06) !important;
    border: 1px solid rgba(34, 185, 255,0.2) !important;
    padding: 5px !important;
    margin-top: 0.175rem !important;
    margin-bottom: 0rem !important;
    position: fixed;
    bottom: 38px;
    width: 1130px;
    .col-form-label {color: #3f51b5 !important; }    
}

/*----------Check Box Style Start------------*/ 

.custom-control,
.custom-control-label { cursor: pointer; }

.custom-control-inline { margin-right: 0.1rem !important; }

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    // border-color: #a8b8bf !important;
    // background-color: #a8b8bf !important;
    border-color:#3f51b5 !important;
    background-color: #3f51b5 !important;
}
.ss-acc-radio-box-st {
    .custom-control {
        .custom-control-label {
            padding-top: 0.175rem !important;
            font-weight: 500 !important;
            color: rgba(0, 0, 0, 0.6) !important;
            &::before {
                top: 0.325rem !important;
                width: 1.2rem !important;
                height: 1.2rem !important;                
            }
            &::after {
                top: 0.2rem !important;
                left: -23px !important;
                width: 1.4rem !important;
                height: 1.4rem !important
            }
        }
    }
    .custom-control-inline { margin-right: 1rem !important; }
    .custom-control-input  { width: 1.2rem !important; height: 1.2rem !important; top: 4px; }
}
.ss-acc-gl-chkbox-st {
    border: none !important;
    background: none;
    padding-left: 0.25rem !important;
    .custom-control {
            padding-left: 0.2rem !important;    
            .custom-control-label {
                padding-top: 0.175rem !important;
                font-weight: 500 !important;
                color: rgba(0, 0, 0, 0.6) !important;
                &::before, &::after {
                    width: 1.25rem !important;
                    height: 1.15rem !important;                
                }
                span { padding-left: 2px; }
            }            
    }
    .custom-control-input {
        left: -18px !important;
        width: 1.3rem !important;
        height: 1.3rem !important;
        top: 4px !important;
    }
}

.ss-chkbox-right { 
    text-align: right !important;
    padding-right: 8px;
}
.ss-acc-sub-os-chkbox {
    position: absolute;
    right: 43%;
    .form-check-input {
        transform: translate(-4px, 3px);
        width: 15px;
        height: 15px;
        border-radius: 0px !important;
        margin-right: 15px;
    }
}

//---Period Entry(pe)---->
.ss-acc-pe-chkbox {
    margin-bottom: 0rem !important;    
    font-size: 14px !important;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.6) !important;
    transform: translateY(15px);
    .lbl-mlt-space {
        transform: translate(19px, -22px);
    }
}

.ss-acc-chkbox-end, .ss-acc-chkbox-start {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;       
}
.ss-acc-chkbox-start {
    justify-content: flex-start;
    align-items: center;
 }
/*-------------Switch Case Label---------*/

.ss-acc-section-ani-st {  animation: ss-section 1s; }

.ss-switchcase {
    // margin: 1px 0px -3px 0px;
    .switch {
        position: relative;
        width: 100%;
        height: 28px;
        border-radius: 20px;
        background: #f5f6fc;
        color: rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
        border: 1px solid #c7cbd6;
        box-sizing: border-box;
    }
    .switch-label {
        position: relative;
        z-index: 2;
        float: left;
        width: 50%;
        line-height: 26px;
        font-size: 13px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.75);
        text-align: center;
        // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
        cursor: pointer;
        border-radius: 20px;
    }
    .switch-label:active {
        font-weight: 500;        
    }
    .switch-label-off {
        padding-left: 2px;
        // color: #fff;
    }
    .switch-label-on {
        padding-right: 2px;
    }
    .switch-input {
        display: none;
    }
    .switch-input:checked+.switch-label {
        font-weight: bold;
        color: #fff;
        // text-shadow: 0 1px rgba(255, 255, 255, 0.25);
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -ms-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        -webkit-transition-property: color, text-shadow;
        -moz-transition-property: color, text-shadow;
        -ms-transition-property: color, text-shadow;
        -o-transition-property: color, text-shadow;
        transition-property: color, text-shadow;
    }
    .switch-input:checked+.switch-label-on~.switch-selection {
        left: 48.5%;
    }
    .switch-selection {
        position: absolute;
        z-index: 1;
        top: -2px;
        left: 4px;
        display: block;
        width: 50%;
        background-color: #65bd63;
        -webkit-transition: left 0.15s ease-out;
        -moz-transition: left 0.15s ease-out;
        -ms-transition: left 0.15s ease-out;
        -o-transition: left 0.15s ease-out;
        transition: left 0.15s ease-out;
    }
    .switch-blue .switch-selection {
        background-color: #3f51b5;
        color: #fff;
        border-radius: 25px;
        top: 2px;
        left:2px;
        height: 22px;
    }
}
.switch-7rem { width: 7rem !important; }
.switch-9rem { width: 9rem !important; }  
/*--------------------------Field set start-------------------------------------*/

.ss-acc-fieldset {
    fieldset, .fieldset-1 {
      border: 1px solid #d8dce6 !important;
      border-radius: 18px !important;
      padding: 0px 10px !important;
      color: rgba(0, 0, 0, 0.6) !important;
      background: #feffff !important;
      margin-bottom: 0.325rem;
      legend {
        width: fit-content;
        padding: 4px 10px !important;
        margin-bottom: 0.5rem;
        font-size: 14px !important;
        font-weight: 500 !important;
        background: #f5f6fc !important;
        color: rgba(0, 0, 0, 0.55) !important;
        margin-left: 6px;
        border: 1px solid #f1f2f8 !important;   
        border-radius: 20px !important;        
      }
      &:hover, &:focus, &:active {
        border: 1px solid #3f51b5 !important;
        legend {
            background:#3f51b5 !important;
            color: #fff !important;
            border: 1px solid #2f409b !important;
        }
      }
    }
    .fieldset-1 { 
        border-radius: 5px !important;
        border-width: 2px !important;
        &:hover, &:focus, &:active {
            border-width: 2px !important;
        }
    }
}

/*--------------------------Field set end-------------------------------------*/

/*---------------Page Title----------------*/

.acc-tit-h3 {
    font-size: 16px;
    text-align: center;
    background: #3f51b5;
    padding: 4px 20px;
    width: 99%;
    margin: 0 auto;
    color: #fff;
}

/*------------Border Animation-------------*/
.acc-highlight-div, .acc-highlight-div-1 {
    padding: 5px 0px 4px;
    border: 1px solid rgba(34, 185, 255,0.8);
    border-radius: 2px;
    background: rgba(34, 185, 255,0.09);
}
.acc-highlight-div-1 {
    padding: 3px 8px 4px;
}

/*-------------Error msg---------------*/
.has-error-text  {
    border-color: #f9001b !important;
    color: #f9001b !important;
    line-height: 12px !important;
    font-size: 12px !important;
    position: absolute !important;
    background: #fff;
    padding: 1px 15px 1px 0px !important;
    z-index: 1;
    left: 3px;
    bottom: -14px;
}


.error { color: #f9001b !important; }

.acc-error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        position: fixed;
        font-size: 14px;
        color: #f9001b;
        font-weight: 500;     
        line-height: 1.3;
        text-align: center;
        text-transform: capitalize;
        padding: 4px 10px;
        margin-bottom: 0px;
        background: #fff;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
        z-index: 99;
    }

    
}


/*-----------------------Page Loader-----------*/
.acc-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1250 !important; 
    box-sizing: border-box; 
    top: 0;
    left: 0;
    .acc-outer-div {
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner-border { width: 1.5rem !important; height: 1.5rem !important; }
  }

/*----------------Z-INDEX------------------*/  

/*----------------Card Style Start-------------*/
.card {
    .card-body { min-height: 531px; }   
    .card-title {
      background: #fff !important;
      box-shadow: 0px 0px 4px 0px rgba(82, 63, 105, 0.3) !important;
      color: #3f51b5;
      margin: 0.27rem 0.29rem;
      line-height: 28px;
      .acc-tit-add-entry {
        color:#3f51b5 !important;
        font-size: 22px;
        top: 7px;
      }
    }
  }

  /*---------------- icon  styles starts----------------------------*/

.ss-crm-edit-icon-st {
    padding-left: 15px !important;
    color: #20a8d8 !important;
    cursor: pointer;
    a, a:hover, a:focus, a:active {
        color: #20a8d8 !important;
        padding-right: 4px;
        i { font-size: 14px !important; }
    }
    a:last-child {
        padding-right: 0px;
    }
}

.tbl-inn-icon { padding: 0.2rem !important; line-height: normal !important; }

/*---------------- icon  styles ends----------------------------*/

/*--------------Common Position--------------*/  
.acc-div-relative { position: relative !important; }

/*--------------Margin Start--------------*/  
 .chk-ml-0 { margin-left: 0px; }
 .chk-ml-15 { margin-left: 15px; }
 .chk-ml-20 { margin-left: 20px; }
 .chk-box-mb { margin-bottom: 0.25rem !important; }

 .ss-acc-tab-mt-r10 { margin: -10px 2px 5px 2px !important; }

 .ss-acc-mt-10 { margin-top: 10px !important; }

 .ss-acc-mt-wot-ph-7 { margin-top: -7px !important; }  /*------ wot & ph without placeholder-----*/

/*---------------Padding Start---------------*/
.txtarea-pt-1 { padding-top: 1px !important; }
.txtarea-pt-6 { padding-top: 6px !important; }
.txtarea-pt-7 { padding-top: 7px !important; }
.txtarea-pt-10 { padding-top: 10px !important; }
.txtarea-pt-12 { padding-top: 12px !important; }
.txtarea-pt-17 { padding-top: 17px !important; }

/*----------------Width------------------*/
.ss-acc-min-width-71 { min-width: 71px !important; }
.ss-acc-min-width-80 { min-width: 80px !important; }
.ss-acc-min-width-90 { min-width: 90px !important; }

/*----------------Height------------------*/
.max-fit-cnt { min-height: fit-content; max-height: fit-content; }
.min-max-65  { min-height: 65px; max-height: 65px; }
.min-max-75  { min-height: 75px; max-height: 75px; }
.min-max-85  { min-height: 85px; max-height: 85px; }
.min-max-106 { min-height: 106px; max-height: 106px; }
.min-max-120 { min-height: 120px; max-height: 120px; }
.min-max-145 { min-height: 145px; max-height: 145px; }
.min-max-160 { min-height: 160px; max-height: 160px; }
.min-max-175 { min-height: 175px; max-height: 175px; }
.min-max-185 { min-height: 185px; max-height: 185px; }
.min-max-200 { min-height: 200px; max-height: 200px; }
.min-max-210 { min-height: 210px; max-height: 210px; }
.min-max-225 { min-height: 225px; max-height: 225px; }
.min-max-230 { min-height: 230px; max-height: 230px; }
.min-max-240 { min-height: 240px; max-height: 240px; }
.min-max-255 { min-height: 260px; max-height: 260px; }
.min-max-270 { min-height: 270px; max-height: 270px; }
.min-max-280 { min-height: 280px; max-height: 280px; }
.min-max-295 { min-height: 295px; max-height: 295px; }
.min-max-320 { min-height: 320px; max-height: 320px; }
.min-max-450 { min-height: 450px; max-height: 450px; }

.height-190 { height: 190px; }

/*--------------Div Scroll----------*/

.acc-div-scroll-y-272, .acc-div-scroll-y-269, 
.acc-div-scroll-y-215, .acc-div-scroll-y-205 {
    min-height: 272px;
    max-height: 272px;
    overflow-x: hidden;
    overflow-y: auto;
}
.acc-div-scroll-y-269 {
    min-height: 269px;
    max-height: 269px;    
 }
.acc-div-scroll-y-215 {
    min-height: 215px;
    max-height: 215px;    
 }
 .acc-div-scroll-y-205 {
    min-height: 205px;
    max-height: 205px;    
 } 


/*-------------MDL Max-Width----------------*/
.mdl-max-wdth-85 { max-width: 85% !important; }

/*----------------Alignment-----------------*/
.acc-txt-lt  { text-align: left !important; }
.acc-txt-cen { text-align: center !important; }
.acc-txt-rt  { text-align: right !important; }

/*---------------Alignment Absolute----------*/
.ss-acc-inv-rt-div {
    position: absolute;
    // right: -8px;
    right: 20px;
    top: 4px;
}
/*------------Rotate---------------*/
.trans-rotate-btn { transform: none; }

/*----------------Font Size------------------*/ 
.f-14 { font-size: 14px !important; }
.f-15 { font-size: 15px !important; }
.f-16 { font-size: 16px !important; }

.acc-txtarea-h40 { height: 40px !important; }
.acc-txtarea-h45 { height: 45px !important; }
.acc-txtarea-h50 { height: 50px !important; }
.acc-txtarea-h55 { height: 55px !important; }
.acc-txtarea-h60 { height: 60px !important; }
.acc-txtarea-h65 { height: 65px !important; }
.acc-txtarea-h70 { height: 70px !important; }

/*---------------Form Field Text Alignment Right------------------*/
.acc-frmfield-rt { 
    text-align: right !important;
    padding-right: 0px !important;
}

.textarea-24 { height: 24px !important; }
.textarea-28 { height: 28px !important; }
.textarea-40 { height: 40px !important; }
.textarea-50 { height: 50px !important; }
.textarea-60 { height: 60px !important; }
.textarea-63 { height: 63px !important; }
.textarea-66 { height: 66px !important; }
.textarea-70 { height: 70px !important; }
.textarea-80 { height: 80px !important; }
.textarea-90 { height: 90px !important; }
.textarea-100 { height: 100px !important; }


.z-index-20 { z-index: 20; }
.modal-backdrop.fade{ z-index: 99 !important; }


/*-------Keyframes Animation Styles Start--------*/

@keyframes ss-entry {
    from {
        opacity: 0;
        transform: translatey(40px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes ss-section {
    from {
        opacity: 0;
        transform: translatex(-20px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes ss-top {
    from {
        opacity: 0;
        transform: translatey(-20px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}

input::placeholder { text-transform: capitalize !important; }



@media screen and (max-width: 992px) {    
    .form-control, .frm-cntrl-no-bdr,
    .cus-select { margin-bottom: 10px; }
    .cus-select {
        margin-bottom: 10px;
    }
    .col-form-label {
        text-align: left !important;
        padding-top: 0px !important;
        padding-bottom: 2px !important;
    }
    .lbl-mr-ptb-0 {  padding-top: calc(0.375rem + 1px) !important;  padding-bottom: 0px !important; }
    .ss-acc-top-st {
        padding: 6px 10px 10px !important;
    }

    .ss-acc-top-st-lt,
    .ss-acc-top-st-rt {
        max-height: fit-content;
        margin: 0px 0px 10px !important;
        padding: 10px 10px 2px !important;        
    }
    /*----------Check Box Style Start------------*/ 
    .ss-acc-chkbox-end {
        justify-content: flex-start;
        align-items: flex-end; 
        margin-left: 15px;      
    }

    .ss-acc-sub-os-chkbox {
        position: relative;
        left: 0;
        margin-top: -8px;
        margin-bottom: 4px;
        .form-check-input { transform: translate(0px, -5px); }
    }


    .ss-acc-radio-box-st {
        .custom-control {
            .custom-control-label {
                font-size: 14px !important;
                &::after {
                    top: 0.165rem !important;              
                    left: -21px !important;
                    width: 1.5rem !important;
                    height: 1.5rem !important
                }
            }
        }
    }

    .ss-acc-gl-chkbox-st {    
        .custom-control {
            .custom-control-label { span { font-size: 14px !important; font-weight: 500 !important; } }
        }
    }

    /*-----Button Style Start-----------*/
    .acc-btn-out-div {
        .theme-btn { margin-bottom: 2px !important; }
     }
    .acc-btn-pr-out-div {
        flex-direction: row;
    }

    .acc-add-icon-btn {  
        i { transform: translateX(-7px) !important; }       
    }
    /*------Button Style End------------*/ 

    /*---------all Vouched List Screen------------*/
    .ss-acc-voulist-eye-sec { width: fit-content; margin: 10px; }
    
    /*-----------Invoice Entry Table Footer----------*/
    .ss-acc-tbl-ftr-div {
        padding: 5px 10px !important;
        margin-top: 1.75rem !important;
        margin-bottom: 0.5rem !important;
        position: relative;
        bottom: 0px;
        width: 100%;
    }
    /*------------Border Animation-------------*/
    .acc-highlight-div, .acc-highlight-div-1 { padding: 10px 10px; }

    /*-------------Error msg---------------*/
    .has-error-text {
        margin-top: -10px;
        bottom: -6px;
    }

    /*-----------------------Page Loader-----------*/
    .acc-loader {
        align-items: flex-start;  
        padding-top: 25%;     
     }

    /*--------------Margin Start--------------*/
    // .chk-box-mb { margin-bottom: -0.5rem !important; }


    /*---------------Alignment Absolute----------*/
    .ss-acc-inv-rt-div {
        position: relative;
        right: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px 0px;
    }

    /*----------------Height------------------*/   
    .min-max-65, 
    .min-max-75,
    .min-max-85,
    .min-max-106,
    .min-max-120,
    .min-max-145,
    .min-max-160,
    .min-max-175,
    .min-max-185,
    .min-max-200,
    .min-max-210,
    .min-max-225,
    .min-max-230,
    .min-max-240,
    .min-max-255,
    .min-max-270,
    .min-max-280,
    .min-max-295,
    .min-max-320,
    .min-max-450 { max-height: fit-content; }

    .height-190 { height: auto; } 

    /*------------Rotate---------------*/
    .trans-rotate-btn { transform: rotate(90deg); }

}


@media screen and (max-width: 767px) { 

    .lbl-mr-ptb-0 {  padding-top: 0 !important;  padding-bottom: 2px !important; }
}

@media screen and (max-width: 560px) {
    .ss-chkbox-right {
        text-align: left !important;
    }
    .mdl-max-wdth-85 { max-width: 95% !important; margin: 0 auto; }
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(41, 57, 74, 0.5);
    border-radius: 0px;
    cursor: pointer !important;

    &:hover {
        background-color: rgba(41, 57, 74, 0.4);
        cursor: pointer !important;
    }
}

